<div style="background-color: palevioletred;">
<div class="container" style="text-align:center;">
  <div class="row" style="text-align:center">
    <div class="col-md-12" style="font-size:30px; color: black; margin-top: 20px; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">My Playlist</div>
    <br><br><br><br>
  </div>
  <div class="row" style="text-align:center" >
    <div *ngFor="let blog of tracks" class="col-md-4">
      <img class="card-img-top" src='{{blog.imgUrl}}' alt="Card image cap" >
      <!-- <h4>{{trackComments}}</h4> -->
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: teal; font-style: oblique; font-weight: bold;">Track Name: {{blog.trackName}}</div>
        <div class="panel-heading" style="background-color:coral; font-style: oblique; font-weight: bold;">Artist: {{blog.trackComments}}</div>
        <div class="panel-body"> 
          <p><input class="form-control mr-sm-6" type="text" [(ngModel)]="blog.comment"></p>
        </div>
        <div class="panel-footer"><br /> 
          <a [routerLink]="['/updatetrack',blog.trackId,blog.comment]" class="btn btn-info">Update</a>
          <a [routerLink]="['/deletetrack',blog.trackId]" class="btn btn-danger">Delete</a>
        </div>
      </div>
      

      <br />
    </div>

  </div>

</div>
</div>